---
const today = new Date()
---

<footer class="px-4 pb-24 pt-12 text-center text-sm text-muted-foreground">
	<p>All content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer" class="underline">CC BY-SA 4.0</a> | © {today.getFullYear()} Boris Ding</p>
</footer>
